.ss-form{
//max-width: 620px;
text-align: left;
padding: 0 10px 0 10px;
margin: 0 auto;
height: 417px;

  .ss-q-title{
font-size: 30px;
  }

}

.required-message{display: none;}


.redsubmit{
  font-size: 30px;
  font-weight: bold;
}

#navigation-table{
  margin: 0 auto !important;
}
