<div class="header">
  <img src="https://s3.amazonaws.com/myfangate.com/5SOS/headerlogo.png">
  <br>
  <img src="https://s3.amazonaws.com/myfangate.com/5SOS/entertext.png">
</div>

<div class="promo inner-shadow">
  <img src="https://s3.amazonaws.com/myfangate.com/5SOS/5sos2.jpg">
</div>

<div class="prize">
  <img src="https://s3.amazonaws.com/myfangate.com/5SOS/prize.png">
</div>

<div class="date">
  <img src="https://s3.amazonaws.com/myfangate.com/5SOS/dates.jpg">
</div>

<div class="rules">
  <a id="officialrules" href="#">Official Rules</a>
</div>

<!--G FORM -->
<div class="ss-form">


<script type="text/javascript">var submitted=false;</script>
<iframe name="hidden_iframe" id="hidden_iframe" style="display:none;"     
onload="if(submitted) {$('.ss-form').html('<center><h1>Thanks!</h1><br><a href=\'#\' onclick=\'location.reload();\'><div id=\'refresh\' class=\'btn btn-danger redsubmit\'>Enter Again</div></a></center>').css('height','397px');ga('send', 'event',  'Form', 'Complete', 'Success');}"></iframe>
  
    <form id="ss-form" action="https://docs.google.com/a/trendsettermarketing.net/forms/d/1bE7qkE15pSIaWElA0e8kXy_yHAyPj3Lm2mOCLJGOWeQ/formResponse" method="post" target="hidden_iframe" 
onsubmit="return validateForm()">
    <ol role="list" class="ss-question-list" style="padding-left: 0">
      
      <div class="form-group">
      <div class="ss-form-question errorbox-good" role="listitem">
      <div dir="ltr" class="ss-item  ss-text"><div class="ss-form-entry">
      <label class="ss-q-item-label" for="entry_2080480129"><div class="ss-q-title">First Name:
      </div>
      <div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>
      <input type="text" name="entry.2080480129" value="" class="ss-q-short form-control" id="entry_2080480129" dir="auto" aria-label="First Name:  " title="" onkeyup="nospaces(this)">
      <div class="error-message" id="978202807_errorMessage"></div>
      <div class="required-message">This is a required question</div>
      </div></div></div>
      </div>

      <div class="form-group">
      <div class="ss-form-question errorbox-good" role="listitem">
      <div dir="ltr" class="ss-item  ss-text"><div class="ss-form-entry">
      <label class="ss-q-item-label" for="entry_471668626"><div class="ss-q-title">Last Name:
      </div>
      <div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>
      <input type="text" name="entry.471668626" value="" class="ss-q-short form-control" id="entry_471668626" dir="auto" aria-label="Last Name:  " title="" onkeyup="nospaces(this)">
      <div class="error-message" id="1933867920_errorMessage"></div>
      <div class="required-message">This is a required question</div>
      </div></div></div>
      </div>

      <div class="form-group">
      <div class="ss-form-question errorbox-good" role="listitem">
      <div dir="ltr" class="ss-item  ss-text"><div class="ss-form-entry">
      <label class="ss-q-item-label" for="entry_193196971"><div class="ss-q-title">Email Address:
      </div>
      <div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>
      <input type="text" name="entry.193196971" value="" class="ss-q-short form-control" id="entry_193196971" dir="auto" aria-label="Email Address:  " title="">
      <div class="error-message" id="1524149796_errorMessage"></div>
      <div class="required-message">This is a required question</div>
      </div></div></div>
      </div>

      <div class="form-group">
      <div class="ss-form-question errorbox-good" role="listitem">
      <div dir="ltr" class="ss-item  ss-date"><div class="ss-form-entry">
      <label class="ss-q-item-label" for="entry_1845520799"><div class="ss-q-title">Birthday:
      </div>
      <div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>
      <input type="date" name="entry.1845520799" value="" class="ss-q-date form-control" dir="auto" id="entry_1845520799" aria-label="Birthday:  ">
      <div class="required-message">This is a required question</div></div></div></div>
      </div>

      <div class="form-group">
      <div class="ss-form-question errorbox-good" role="listitem">
      <div dir="ltr" class="ss-item  ss-text"><div class="ss-form-entry">
      <label class="ss-q-item-label" for="entry_937731975"><div class="ss-q-title">Phone Number (Optional):
      </div>
      <div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>
      <input type="text" name="entry.937731975" value="" class="ss-q-short form-control" id="entry_937731975" dir="auto" aria-label="Phone Number (Optional):  " title="">
      <div class="error-message" id="768427506_errorMessage"></div>
      <div class="required-message">This is a required question</div>
      </div></div></div>
      </div>


      <input type="hidden" name="draftResponse" value="[,,&quot;-5468418597670844003&quot;]
      ">
      <input type="hidden" name="pageHistory" value="0">


      <input type="hidden" name="fbzx" value="-5468418597670844003">

      <div class="ss-item ss-navigate"><table id="navigation-table"><tbody><tr><td class="ss-form-entry goog-inline-block" id="navigation-buttons" dir="ltr">
      <input type="submit" name="submit" value="Submit" class="btn btn-danger redsubmit" id="ss-submit">
      </td>

      </tr></tbody></table></div>
    </ol>
  </form>
</div>
<!-- END GMFORM -->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <center>
        <span style="white-space: normal; font-size: 25px;">By entering I acknowledge that I have read, understand and agree to the <a href="#">Official Rules</a> and the Terms of Use.
        *Phone Numbers are optional and will only be used to contact the winner. Entering a phone number does not increase the chances of winning.</span>
      </center>
    </div>
  </div>
</div>

<div class="backpacks">
<div class="right-backpack">
  <img src="https://s3.amazonaws.com/myfangate.com/5SOS/rightbackpack.png">
</div>

<div class="left-backpack">
  <img src="https://s3.amazonaws.com/myfangate.com/5SOS/leftbackpack.png">
</div>
</div>

